/** 高级编辑公共样式**/

/* 图片控件 */
:root {
  --image-width: 120px;
}

.setting-img {
  &__title {
    position: relative;
    float: left;
    margin: 0 0 15px;
    font-size: 14px;
    font-weight: normal;
  }

  &__img {
    clear: both;
    display: block;
    width: var(--image-width);
    height: var(--image-width);
    // outline: 1px solid var(--gray-extra-light);
  }

  &__button {
    width: var(--image-width);
    margin-top: 10px;
    text-align: center;
  }

  &__desc {
    width: calc(var(--image-width) + 40px);
    margin-top: 10px;
    margin-left: -20px;
    color: var(--gray);
    font-size: 12px;
    text-align: center;
  }

  & + .setting-img {
    margin-top: 30px;
  }
}

/* 表单字段提示 */
.tip-mark, .tip-mark-plus {
  position: relative;
  z-index: 10;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #dfdfdf;
  color: #fff;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  user-select: none;
  cursor: pointer;
}

.tip-mark-plus {
  &__content {
    transform: translateX(4px);

    &.is-dark {
       width: 200px;
       padding: 0.5em 0.76em;
       border-radius: 3px;
       margin-left: 5px;
       background: rgba(0, 0, 0, 0.6);
       box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
       text-align: left;
       line-height: 1.4;
     }

    &[x-placement^="right"] {
      .popper__arrow, .popper__arrow::after {
        border-width: 5px 5px 5px 0;
        border-style: solid;
        border-right-color: rgba(0, 0, 0, 0.6);
        margin-top: 2px;
      }
      &.move-in-linear {
        &-enter-active, &-leave-active {
           transition: 0.2s;
        }

        &-enter, &-leave-to {
          opacity: 0;
          transform: translateX(-10px);
        }

        &-enter-to, &-leave {
          opacity: 1;
          transform: translateX(4px);
        }
      }
    }
  }
}

.tip-mark {
  &:hover {
    &::before,
    &::after {
      visibility: visible;
      opacity: 1;
      transform: translateX(0);
    }
  }

  &::before,
  &::after {
    position: absolute;
    left: 120%;
    visibility: hidden;
    opacity: 0;
    transform: translateX(-10px);
    transition: 0.2s;
  }

  &::before {
    content: "";
    top: 50%;
    border-width: 5px 5px 5px 0;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.6) transparent transparent;
    margin-top: -5px;
  }

  &::after {
    content: attr(data-tip);
    top: -5px;
    width: 200px;
    padding: 0.5em 0.76em;
    border-radius: 3px;
    margin-left: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
    text-align: left;
    line-height: 1.4;
  }
}

.tip-wrapper {
  position: relative;

  &--vip::before,
  .tip-mark, .tip-mark-plus {
    margin-left: 8px;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
  }

  &--vip {
    &::before {
      content: 'VIP';
      margin-left: 30px;
      color: #ffc000;
      font-size: 12px;
      font-style: italic;
    }

    .tip-mark::after {
      content: attr(data-tip) "\A\A(VIP商业版功能)";
      white-space: pre-wrap;
    }


    .el-select[readonly] .el-input__inner,
    .el-input > .el-input__inner[readonly]:first-child,
    .el-textarea__inner[readonly] {
      border-color: #d1dbe5;
      background-color: #eef1f6;
      color: #bbb;
    }
  }
}



/* 操作按钮悬停弹出提示 */
:root {
  --tip-color: rgba(51, 51, 51, 0.95);
  --tip-arrow-gap: 5px;
  --tip-arrow-length: 8px;
}

.tip {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    transition: 0.1s ease-in;
  }

  &::before {
    content: "";
    border-style: solid;
  }

  &::after {
    content: attr(data-tip);
    padding: 0 12px;
    border-radius: 3px;
    background-color: var(--tip-color);
    font-size: 12px;
    line-height: 32px;
    white-space: nowrap;
  }

  /* 向下 */
  &--bottom::before,
  &--bottom::after {
    top: 100%;
  }

  &--bottom::before {
    left: 10px;
    border-width: 0 0 var(--tip-arrow-length) var(--tip-arrow-length);
    border-color: transparent transparent var(--tip-color);
    margin-top: var(--tip-arrow-gap);
    transform-origin: left bottom;
  }

  &--bottom::after {
    left: 0;
    margin-top: calc(var(--tip-arrow-gap) + var(--tip-arrow-length));
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    transform-origin: left top;
  }

  /* 向上 */
  &--top::before,
  &--top::after {
    bottom: 100%;
  }

  &--top::before {
    left: 10px;
    border-width: var(--tip-arrow-length) 0 0 var(--tip-arrow-length);
    border-color: var(--tip-color) transparent transparent;
    margin-bottom: var(--tip-arrow-gap);
    transform-origin: left top;
  }

  &--top::after {
    left: 0;
    margin-bottom: calc(var(--tip-arrow-gap) + var(--tip-arrow-length));
    box-shadow: 1px -1px 3px rgba(0, 0, 0, 0.2);
    transform-origin: left bottom;
  }

  /* 向左 */
  &--left::before,
  &--left::after {
    right: 100%;
  }

  &--left::before {
    top: 10px;
    border-width: var(--tip-arrow-length) 0 0 var(--tip-arrow-length);
    border-color: transparent transparent transparent var(--tip-color);
    margin-right: var(--tip-arrow-gap);
    transform-origin: left center;
  }

  &--left::after {
    margin-right: calc(var(--tip-arrow-gap) + var(--tip-arrow-length));
    box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.2);
    transform-origin: right center;
  }

  /* 向右 */
  &--right::before,
  &--right::after {
    left: 100%;
  }

  &--right::before {
    top: 10px;
    border-width: var(--tip-arrow-length) var(--tip-arrow-length) 0 0;
    border-color: transparent var(--tip-color) transparent transparent;
    margin-left: var(--tip-arrow-gap);
    transform-origin: right center;
  }

  &--right::after {
    margin-left: calc(var(--tip-arrow-gap) + var(--tip-arrow-length));
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    transform-origin: left center;
  }

  &:hover {
    &::before,
    &::after {
      color: #fff;
      visibility: visible;
      opacity: 1;
      transform: scale(1);
      transition: 0.25s ease-out;
    }
  }
}

/* 虚线框 */
.dash-box {
  display: block;
  width: 80px;
  height: 30px;
  line-height: 28px;
  background: transparent;
  color: #fff;
  border: 1px dashed #fff;
  border-radius: 4px;
  text-align: center;
  transition: 0.2s;

  &--cubic {
    width: 40px;
    height: 40px;
    line-height: 38px;
  }

  &:hover {
    border-color: var(--color-primary);
    color: var(--color-primary);
  }
}

/* 虚线框按钮 */
.btn-add {
  display: inline-block;
  font-size: 30px;
  cursor: pointer;
  line-height: 23px;
}

.btn-add.dash-box--cubic {
  line-height: 34px;
}

/* 兼容小分辨率屏幕 */
@media screen and (max-height: 760px) {
  .edit-wrapper {
    .el-dialog__body {
      padding: 15px;
    }

    .el-pagination {
      padding-bottom: 0;
    }
  }
}
