@import "./reset.css";
@import "./utils.css";
@import "./table.css";
@import "./edit.css";

html {
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
}

html, body, input, textarea, keygen, select, button {
  font-family: OpenSans,Helvetica Neue,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,Arial,sans-serif;
}

*,
::before,
::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}
